CHROME_BIN=/usr/bin/chromium-browser
LANG=en_GB
BROWSER_PAGE_USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"

PROXY_SERVER=zproxy.lum-superproxy.io:22225
PROXY_USERNAME=
PROXY_PASSWORD=

LINKEDIN_USERNAME=
LINKEDIN_PASSWORD=

MAIL_IMAP_HOST=
MAIL_IMAP_PORT=
MAIL_IMAP_SECURE=
MAIL_IMAP_USER=
MAIL_IMAP_PASSWORD=
